---
---

$font-height: 16.0vmin;

.realmadoverlay {
  background: black;
  font-family: 'Syne Mono', sans-serif;
  font-size: $font-height;
  line-height: $font-height; /* Force the line height in case a host page has it set in body{} */
  padding-top: $font-height/2;

  /* Make it mostly transparent and stacked on top, but allow the user to still interact with the page */
  opacity: 0.1;
  z-index:9999;
  pointer-events: none;
  
  /* Make it not scroll, and have it take up the whole viewport */
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  
  /*Stack the overlay words vertically and center them*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.realmadglitch {
 color: white;
 position: relative;
 display: block; /* This is redundant for div, unless somebody adds weird styling. Since we are injecting in arbitrary pages, better safe than sorry... */
}
@keyframes noise-anim{
 $steps:20;
 @for $i from 0 through $steps{
  #{percentage($i*(1/$steps))}{
   clip:rect($font-height*random(100)/100,9999px,$font-height*random(100)/100,0);
  }
 }
}

.realmadglitch:after{
 content:attr(data-text);
 position:absolute;
 left:2px;
 text-shadow:-1px 0 red;
 top:0;
 color:white;
 background:black;
 overflow:hidden;
 clip:rect(0,9999px,0,0); 
 animation:noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2{
 $steps:20;
 @for $i from 0 through $steps{
  #{percentage($i*(1/$steps))}{
   clip:rect($font-height*random(100)/100,9999px,$font-height*random(100)/100,0);
  }
 }
}

.realmadglitch:before{
 content:attr(data-text);
 position:absolute;
 left:-2px;
 text-shadow:1px 0 blue; 
 top:0;
 color:white;
 background:black;
 overflow:hidden;
 clip:rect(0,9999px,0,0); 
 animation:noise-anim-2 3s infinite linear alternate-reverse;
}
