.realmadoverlay {
  background: black;
  font-family: 'Syne Mono', sans-serif;
  opacity: 0.7;
  position: absolute;
  top:0;
  left:0;
  z-index:5;
}
.realmadglitch {
  color: white;
  font-size: 8vw;
  position: relative;
  margin: 0 auto;
}
@keyframes noise-anim {
  0% {
    clip: rect(5.6vw, 9999px, 2.08vw, 0);
  }
  5% {
    clip: rect(4.8vw, 9999px, 7.28vw, 0);
  }
  10% {
    clip: rect(0.4vw, 9999px, 1.92vw, 0);
  }
  15% {
    clip: rect(5.76vw, 9999px, 2.96vw, 0);
  }
  20% {
    clip: rect(7.44vw, 9999px, 4.24vw, 0);
  }
  25% {
    clip: rect(7.28vw, 9999px, 1.36vw, 0);
  }
  30% {
    clip: rect(2.96vw, 9999px, 1.28vw, 0);
  }
  35% {
    clip: rect(5.28vw, 9999px, 1.28vw, 0);
  }
  40% {
    clip: rect(1.76vw, 9999px, 4.8vw, 0);
  }
  45% {
    clip: rect(2.32vw, 9999px, 3.04vw, 0);
  }
  50% {
    clip: rect(8vw, 9999px, 2.96vw, 0);
  }
  55% {
    clip: rect(5.04vw, 9999px, 7.68vw, 0);
  }
  60% {
    clip: rect(5.36vw, 9999px, 0.24vw, 0);
  }
  65% {
    clip: rect(2.4vw, 9999px, 5.44vw, 0);
  }
  70% {
    clip: rect(5.84vw, 9999px, 3.76vw, 0);
  }
  75% {
    clip: rect(1.84vw, 9999px, 4.8vw, 0);
  }
  80% {
    clip: rect(7.84vw, 9999px, 6vw, 0);
  }
  85% {
    clip: rect(0.32vw, 9999px, 5.52vw, 0);
  }
  90% {
    clip: rect(4.4vw, 9999px, 0.8vw, 0);
  }
  95% {
    clip: rect(1.92vw, 9999px, 0.8vw, 0);
  }
  100% {
    clip: rect(8vw, 9999px, 7.12vw, 0);
  }
}
.realmadglitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(4.16vw, 9999px, 0.8vw, 0);
  }
  5% {
    clip: rect(6.48vw, 9999px, 3.2vw, 0);
  }
  10% {
    clip: rect(7.28vw, 9999px, 7.12vw, 0);
  }
  15% {
    clip: rect(1.68vw, 9999px, 4.8vw, 0);
  }
  20% {
    clip: rect(0.48vw, 9999px, 0.96vw, 0);
  }
  25% {
    clip: rect(2.72vw, 9999px, 0.96vw, 0);
  }
  30% {
    clip: rect(3.12vw, 9999px, 1.52vw, 0);
  }
  35% {
    clip: rect(0.96vw, 9999px, 7.2vw, 0);
  }
  40% {
    clip: rect(0.56vw, 9999px, 2.24vw, 0);
  }
  45% {
    clip: rect(4.88vw, 9999px, 0.08vw, 0);
  }
  50% {
    clip: rect(1.36vw, 9999px, 7.68vw, 0);
  }
  55% {
    clip: rect(4.32vw, 9999px, 3.52vw, 0);
  }
  60% {
    clip: rect(5.36vw, 9999px, 5.28vw, 0);
  }
  65% {
    clip: rect(7.04vw, 9999px, 1.12vw, 0);
  }
  70% {
    clip: rect(7.84vw, 9999px, 6.24vw, 0);
  }
  75% {
    clip: rect(2.8vw, 9999px, 1.44vw, 0);
  }
  80% {
    clip: rect(1.28vw, 9999px, 7.36vw, 0);
  }
  85% {
    clip: rect(1.28vw, 9999px, 6.56vw, 0);
  }
  90% {
    clip: rect(8vw, 9999px, 3.36vw, 0);
  }
  95% {
    clip: rect(5.76vw, 9999px, 3.52vw, 0);
  }
  100% {
    clip: rect(4vw, 9999px, 6.32vw, 0);
  }
}
.realmadglitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
